/* Google Font Link  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}
.carousel-item a {
  color: #d8339a;
}
.carousel-item a:hover {
  background-color: #d8339a !important;
  color: #fff;
}

.gallery-section img {
  border: 3px solid black;
}
.gallery-section img:hover {
  border: 3px solid #d8339a !important;
}
.Toast {
  width: 270px !important;
  top: 20%;
  right: 2%;
  z-index: 2;
}
.pepole img {
  max-width: 550px;
  max-height: 340px;
}
@media screen and (max-width: 768px) {
  .carousel-item img {
    width: 100%;
    height: 600px;
  }
}
