/* Google Font Link  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}
.carousel-item a {
  color: #d8339a;
}
.carousel-item a:hover {
  background-color: #d8339a !important;
  color: #fff;
}

.active-card {
  margin-top: -25px;
}
